@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #ccc;
    padding: 5px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

