@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #ccc;
    padding: 5px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}
.wrapper h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.wrapper .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .subtitle {
    text-align: center;
    visibility: visible;
}
.buttons .startButton{
    width: 100px;
    color: white;
    background: rgb(34, 7, 43);
    border-radius: 10px;
    border: 1px red solid;
    font-size: 18px;
    margin: 10px;
}
.buttons .startButton:hover{
    background: darkgreen;
}
.answerButtons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.answerButtons .answer{
    width: 100px;
    color: white;
    background: rgb(34, 7, 43);
    border-radius: 10px;
    border: 1px red solid;
    font-size: 18px;
    margin: 10px;
}
#answer1, #answer2, #answer3, #answer4 {
    display: none;  
};
